<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Account</title>
</head>

<body>

  <main class="p-2">
    <form action="/profile/register/<%= user['userName'] %>" method="post">

      <div class="mb-3">
        <label for="">Name</label>
        <input type="text" class="input" name="name">
      </div>
      
      <div class="mb-3">
        <label for="">Profile Image URL</label>
        <input type="text" class="input" name="imageUrl">
      </div>
      
      <div class="mb-3">
        <label for="">Address</label>
        <textarea name="address" id="" class="textarea"></textarea>
      </div>

      <div class="mb-3">
        <label for="">Phonenumber</label>
        <input type="tel" class="input" name="phoneNumber">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>

  <%- include('_script') %>
</body>

</html>