<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>

  <main>
    <form action="/login" method="post">
      <% if (error) { %>
       <p style="color: red;"><%= error %></p>
      <% } %>

      <div class="mb-3">
        <label for="">Username</label>
        <input type="text" name="userName" class="input">
      </div>
      
      <div class="mb-3">
        <label for="">Password</label>
        <input type="password" name="password" class="input">
      </div>

      <a href="/register" class="btn btn-outline">Tidak punya akun? Daftar sekarang.</a>

      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </main>

  <%- include('_script') %>
</body>

</html>