<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Account</title>
</head>

<body>

  <main class="p-2">
    <form action="/register" method="post">
      <div class="mb-3"></div>
        <label for="">Username</label>
        <input type="text" class="input" name="userName">
      </div>
      
      <div class="mb-3"></div>
        <label for="">Password</label>
        <input type="text" class="input" name="password">
      </div>

      <div class="mb-3"></div>
        <label for="">Email</label>
        <input type="text" class="input" name="email">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </main>

  <%- include('_script') %>
</body>

</html>