<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a href="/admin/products" class="text-2xl font-bold">📺Tokopudidi🎮</a>
    <a href="/admin/products/add" class="btn btn-ghost">Add Product</a>
    <a href="/admin/products/empty" class="btn btn-ghost">List Empty Product</a>
    <a href="/admin/categories" class="btn btn-ghost">Categories</a>
  </div>
  <div class="flex gap-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="/public/defaultPhoto.png" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/logout" class="link link-error">Logout</a></li>
      </ul>
    </div>
  </div>
</div>